// Place all the styles related to the customer/deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions {
	margin-top: 80px;
	margin-right: 5px;
	margin-bottom: 30px;
}

//↓th {}では適応されない
table th {
	text-align: center;
}

