<div class="container">
    <div class="withdraw">
        <p>本当に退会しますか？</p><br>
        <P>退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
        </P>
        <div class="withdraw_btn">
            <button class="btn btn-primary">退会しない</button>
            <button class="btn btn-danger">退会する</button>
        </div>
    </div>
</div>