<div class="container">
	<div class="customer_edit">
		<div class="registlation_info">
			<p>登録情報編集　</p>
			<button class="btn btn-danger">退会する</button>
		</div>
		<%# テーブル内容の書き方合ってるか不安 %>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>氏名</th>
					<td></td>
				</tr>
				<tr>
					<th>カナ</th>
					<td></td>
				</tr>
				<tr>
					<th>郵便番号</th>
					<td></td>
				</tr>
				<tr>
					<th>住所</th>
					<td></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td></td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="edit_save">
			<button class="btn btn-primary">編集内容を保存する</button>
		</div>
	</div>
</div>