<div class="row">
    <div style="margin-top: 150px;">
        <h1 class="col-xs-offset-3">ご購入ありがとうございました</h1>
        <div class="col-xs-offset-5"><%= link_to "TOPへもどる", root_path,class:'btn btn-primary' %></div>
    </div>
</div>
