<div class="row">
    <div class="col-xs-6">
        <%= image_tag "about_image1.jpg", alt: "strawberry cake", class: "image", width: "105%" %>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
        <h2>ながのcake</h2>
        <p>※挿入文依頼中</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-5">
        <h2>ながのcake</h2>
        <p>※挿入文依頼中</p>
    </div>
    <div class="col-xs-6 col-xs-offset-1">
        <%= image_tag "about_image2.jpg", alt: "strawberry cake", class: "image", width: "105%" %>
    </div>
</div>