<%= render 'layouts/customer_header' %>

    <div id="container">
        <div id="theTarget">
            <div class="image1"><a href="/custmer/products/1"></a></div>
            <div class="image2"><a href="/custmer/products/2"></a></div>
            <div class="image3"><a href="/custmer/products/3"></a></div>
            <div class="image4"><a href="/custmer/products/4"></a></div>
            <div class="image5"><a href="/custmer/products/5"></a></div>
        </div>
    </div>  
