/*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ヘッダー
.background_img {
  background-attachment: fixed;
  background-image: url(ajisaiframe.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  // 高さを与えてjqueryや他商品を表示
  height: 1500px;
}
// ヘッダーの下body
.main_container {
  padding-top: 160px;
}

header {
  width: 100%;
  height: 110px;
  background-color: white;
  // 透過率0.8→0.9に。この方がヘッダーナビが見やすかった
  opacity: 0.9;
  background-size: cover;
  color: black;
  position: fixed;
  // ヘッダーを他のどの要素よりも前面に出す
  // top: 0;
  z-index: 1000;
}

header .logo_img {
  margin-top: 15px;
}

header .headline {
  float: left;
  margin-left: 20px;
}

header .container {
  width: 100%;
  margin: auto;
}

.header_top {
  text-align: right;
  padding-top: 20px;
}

.header_top li {
  display: inline-block;
}

.headline img {
  height: 70px;
  width: auto;
}

.nav-list {
  float: right;
  list-style: none;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
  line-height: 40px;
}

.header_serch {
  float: right;
  list-style: none;
  font-size: 14px;
  line-height: 40px;
}

// エラー表示
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

// .field_with_errors {
//   @extend .control-group;
//   @extend .error;
// }

// ボタン設定
.btn {
  // width: 100px;
  margin-top: 10px;
  text-align: center;
}

// 10.登録情報
// .container {
//   margin: 100px;
// }
.customer_info {
  display: flex;
  margin: 10px 0 20px;
  .btn {
    margin-left: 20px;
  }
  p {
    margin-top: 15px;
  }
}
.delivery_address {
  display: flex;
  margin: 10px 0 20px;
  .btn {
    margin-left: 20px;
  }
  p {
    margin-top: 15px;
  }
}
.order_history {
  display: flex;
  margin: 10px 0 20px;
  .btn {
    margin-left: 20px;
  }
  p {
    margin-top: 15px;
  }
}

.customer_info td {
  border: 1px black solid;
  border-collapse: collapse;

  th {
    width: 25%;
    background-color: lightgray;
  }
}

// 11.退会確認画面
.withdraw {
  margin-top: 150px;
  text-align: center;
  .withdraw_btn {
    display: inline-flex;
    .btn-primary {
      margin-right: 10px;
    }
    .btn-danger {
      margin-left: 10px;
    }
  }
}

// 12.会員情報編集
.customer_edit {
  p {
    margin-top: 15px;
  }
  th {
    width: 200px;
  }
}
.registlation_info {
  display: inline-flex;
  margin: 10px 0 20px;
}
.edit_save {
  margin-left: 250px;
}

// 25.会員一覧
.customer_table th {
  background-color: lightgray;
}

.valid {
  border: solid 1px black;
  border-radius: 50px;
  background-color: cyan;
  text-align: center;
}
.invalid {
  border: solid 1px black;
  border-radius: 50px;
  background-color: red;
  text-align: center;
}
.customer_status {
  width: 70px;
  display: inline-block;
  // 不透明度
  // flood-opacity: initial;
}
// 26.会員詳細
.admin_show_btn {
  float: left;
}
.order_btn {
  margin-left: 20px;
}

// 27.会員編集画面
.admin_edit_table　text_field {
  text-align: center;
}
.input_type1 {
  width: 120px;
  text-align: center;
  border-radius: 10px;
}
.input_type2 {
  width: 350px;
  text-align: center;
  border-radius: 10px;
}
.input_type3 {
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

// jqurey　スライドショー
#slideshow {
  height: 300px;
  width: 100%;
  margin-top: 120px;
}

.image1 {
  background-image: url(cat1.jpg);
}
.image2 {
  background-image: url(cat2.jpg);
}
.image3 {
  background-image: url(cat3.jpg);
}
.image4 {
  background-image: url(cat4.jpg);
}
.image5 {
  background-image: url(cat5.jpg);
}

#theTarget div a {
  display: block;
  width: 100%;
  height: 300px;
}

// ハンバーガーメニュー
header #nav-drawer {
  position: relative;
  float: left;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span,
#nav-open span:before,
#nav-open span:after {
  position: absolute;
  height: 3px; /*線の太さ*/
  width: 25px; /*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: "";
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none; /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0; /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /*最前面に*/
  width: 90%; /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 90px; /*最大幅（調整してください）*/
  font-size: 14px;
  height: 100%;
  background: #fff; /*背景色*/
  transition: 0.3s ease-in-out; /*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%); /*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block; /*カバーを表示*/
  opacity: 0.8;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); /*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

// ハンバーガーメニューその２
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger::after {
  position: absolute;
  left: 0;
  bottom: -30px;
  content: "MENU";
  display: block;
  width: 100%;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  transition: all 0.4s;
}
.menu-trigger.active::after {
  content: "CLOSE";
  bottom: -25px;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}

// products(admin)
.new_product_head{
  margin-bottom: 40px;
}
// products(customer)
.product_customer_show{
  display: inline-block;
}