/*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

// エラー表示
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

// .field_with_errors {
//   @extend .control-group;
//   @extend .error;
// }

// ボタン設定
.btn {
  // width: 100px;
  margin-top: 10px;
  text-align: center;
}

// 10.登録情報
// .container {
//   margin: 100px;
// }
.customer_info {
  display: flex;
  margin: 10px 0 20px;
  .btn {
    margin-left: 20px;
  }
  p {
    margin-top: 15px;
  }
}
.delivery_address {
  display: flex;
  margin: 10px 0 20px;
  .btn {
    margin-left: 20px;
  }
  p {
    margin-top: 15px;
  }
}
.order_history {
  display: flex;
  margin: 10px 0 20px;
  .btn {
    margin-left: 20px;
  }
  p {
    margin-top: 15px;
  }
}

.customer_info td {
  border: 1px black solid;
  border-collapse: collapse;

  th {
    width: 25%;
    background-color: lightgray;
  }
}

// 11.退会確認画面
.withdraw {
  margin-top: 150px;
  text-align: center;
  .withdraw_btn {
    display: inline-flex;
    .btn-primary {
      margin-right: 10px;
    }
    .btn-danger {
      margin-left: 10px;
    }
  }
}

// 12.会員情報編集
.customer_edit {
  p {
    margin-top: 15px;
  }
  th {
    width: 200px;
  }
}
.registlation_info {
  display: inline-flex;
  margin: 10px 0 20px;
}
.edit_save {
  margin-left: 250px;
}

// 25.会員一覧
.customer_table th {
  background-color: lightgray;
}
.valid {
  border: solid 1px black;
  border-radius: 50px;
  background-color: cyan;
  text-align: center;
}
.invalid {
  border: solid 1px black;
  border-radius: 50px;
  background-color: red;
  text-align: center;
}
.customer_status {
  width: 70px;
  display: inline-block;
  // 不透明度
  // flood-opacity: initial;
}
// 26.会員詳細
.admin_show_btn {
  float: left;
}
.order_btn {
  margin-left: 20px;
}

// 27.会員編集画面
.admin_edit_table td {
  // text-align: center;
}
.admin_edit_table　text_field {
  text-align: center;
}
.input_type1 {
  width: 120px;
  text-align: center;
  border-radius: 10px;
}
.input_type2 {
  width: 350px;
  text-align: center;
  border-radius: 10px;
}
.input_type3 {
  width: 200px;
  text-align: center;
  border-radius: 10px;
}
