/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background_img{
  background-attachment: fixed;
  background-image: url(ajisaiframe.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

header {
  height: 110px;
  width: 100%;
  background-color: #FDF5E6;
  opacity: 0.8;
  background-size: cover;
  color: black;
}

header .logo_img{
  margin-top: 10px;
}

header .headline{
    line-height: 70px;
    float: left;
}

.container{
  width: 1024px;
  margin: 0 auto;
}

.header_top{
  text-align: right;
  padding-top: 20px;
}

.headline img{
    height: 70px;
    width: auto;
}

.nav-list {
    float: right;
    list-style: none;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  line-height: 70px;
}
