  <!-- customer用header <%#= render 'layout/customer_header' %> -->
  <header>
    <div class="container">
      <div class="headline">
        <%= image_tag "logo_transparent.png", class: "logo_img" %>
      </div>

      <%#= if customer_sign_in? %>
        <ul class="header_top">
          <li class="glyphicon glyphicon-search"></li>
          <li><p class="head_currentuser_name">ユーザー名：<%#= customer.name %>＊＊＊＊＊</p></li>
        </ul>

        <ul class="nav-list">
          <li class="nav-list-item"><%= link_to customer_products_path do%>TOP<%end%></li>
          <li class="nav-list-item"><%= link_to customer_products_path do%>ABOUT<%end%></li>
          <li class="nav-list-item"><%#= link_to customer_customer_path do%>MY PAGE<%#end%></li>
          <li class="nav-list-item"><%#= link_to customer_cart_products_path do%>CART<%#end%></li>
          <li class="nav-list-item"><%= link_to destroy_customer_session_path, method: :delete do%>LOG OUT<%end%></li>
        </ul>

      <%# else %>
        <!-- <ul class="nav-list"> -->
          <!-- <li><%#= link_to customer_products_path do%><p class="nav-list-item">TOP</p><%#end%></li> -->
          <!-- <li><%#= link_to customer_products_path do%><p class="nav-list-item">ABOUT</p><%#end%></li> -->
          <!-- <li><%#= link_to new_customer_session_path do%><p class="nav-list-item">LOG IN</p><%#end%></li> -->
          <!-- <li><%#= link_to new_customer_registration_path do%><p class="nav-list-item">SIGN UP</p><%#end%></li> -->
        <!-- </ul> -->
      <%#end%>
    </div>
  </header>